

.nav-light-theme {
    background-color: #f0f0f0;
    color: #333;
    border-bottom: 2px solid #ccc;
}

.nav-dark-theme {
    background-color: #333;
    color: #fff;
    border-bottom: 2px solid #666;
}

.nav {
    display: flex; /* Use flexbox */
    align-items: center; /* Center vertically */
    justify-content: space-between; /* Spread items evenly */
    padding: 5px;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Use flexbox */
}

.nav-list li {
    margin-right: 10px;
    cursor: pointer;
}

.nav-list li:hover {
    text-decoration: underline;
}

.nav h3 {
    margin: 0;
    font-size: 28px;
}
